<?xml version="1.0" encoding="UTF-8"?>
<!-- ConstMapper.xml @screen common @author ma_b -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quotation.const">

    <sql id="pagingCondition">
    <![CDATA[rownum>#{start} fetch first ${limit} rows only]]>
    </sql>
    
</mapper>