<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quotation.web.common.service.QSC0302Service">
    <select id="getInformationById" parameterType="com.quotation.core.bean.BaseParam"
            resultType="com.quotation.web.common.entity.QSC0302Entity">
        SELECT A.INFORMATION_ID as informationId,
                A.DISPLAY_START_DATE as dateFrom,
                A.DISPLAY_END_DATE	as dateTo,
                A.TITLE,
                A.INFORMATION
        FROM QUOTATION.TNM_INFORMATION A
        <where>
            <if test="filters.informationId != null">
                A.INFORMATION_ID = #{filters.informationId}
            </if>
        </where>
    </select>

    <select id="getMaxId" resultType="com.quotation.web.common.entity.QSC0302Entity">
        SELECT coalesce(max(INFORMATION_ID), 0) + 1 as informationId
        FROM QUOTATION.TNM_INFORMATION
    </select>

    <insert id="saveInformation" parameterType="com.quotation.web.common.entity.QSC0302Entity">
        INSERT INTO QUOTATION.TNM_INFORMATION(
        INFORMATION_ID,
        DISPLAY_START_DATE,
        DISPLAY_END_DATE,
        TITLE,
        INFORMATION,
        CREATED_BY,
        CREATED_DATE,
        UPDATED_BY,
        UPDATED_DATE,
        VERSION) VALUES (
        #{informationId,jdbcType=INTEGER},
        #{dateFrom,jdbcType=DATE},
        #{dateTo,jdbcType=DATE},
        #{title,jdbcType=VARCHAR},
        #{information,jdbcType=VARCHAR},
        #{createBy,jdbcType=INTEGER},
        #{createDate,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=INTEGER},
        #{updateDate,jdbcType=TIMESTAMP},
        1
        )
    </insert>

    <update id="updateInformation" parameterType="com.quotation.web.common.entity.QSC0302Entity">
        UPDATE QUOTATION.TNM_INFORMATION SET TITLE = #{title},
        INFORMATION = #{information},
        DISPLAY_START_DATE = #{dateFrom},
        DISPLAY_END_DATE = #{dateTo},
        VERSION = VERSION + 1
        WHERE INFORMATION_ID = #{informationId}
    </update>
</mapper>